doctype html
html
  head
    title AKCH
    block scripts
    block style
  body
    nav#navbar
      ul 
        #logo
          img(src="/static/img/log2.jpg")
          | Code Academy         
        li #[a(href="/") Home] 
        li #[a(href="/about") About] 
        li #[a(href="/information") Information]
        li #[a(href="/contact") Join Us]
    block content
    footer#footer
        | Copyright © 2021 codeacademy.com | All Rights Reserved       